<h5>Video stream test with node js</h5>
<p>
  This video is being streamed.
</p>
<video id="videoPlayer" width="650" controls muted="muted" autoplay>
  <source src="/video" type="video/mp4" />
</video>
<i>House MD Speed Dating</i>
<br>
<a href="https://youtu.be/4YD4_NFNswY" target="_blank">Original video source</a>